<!----Show patient's med info, progress notes-->
<h1> Feeding Profile</h1>

<table id="list">
    <thead>
        <tr>
          <th>Name</th>
          <th>Age: year</th>
          <th>Months </th>
          <th>Birthday</th>
          <th>Allergies</th>
          <th>Diagnoses</th>
          <th>Medical History</th>
          <th>Feeding Concerns</th>

        </tr>
      </thead>
      <tbody>
          <% user.patientInfo.forEach(function(p) {%>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.ageYear %></td>
            <td><%= p.ageMonth %></td>
            <td><%= p.birthdate.toLocaleString()%></td>
            <td><%= p.allergies %></td>
            <td><%= p.diagnoses %></td>
            <td><%= p.history %></td>
            <td><%= p.concerns %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
</head>
<body>
<h1>Update Patinet Info: </h1>


<form action="/users" method="POST" name="addPatientForm">
<label>Full Name: </label>
  <input name="name" type="text" required> <br> <br>

  <label> Date of Birth: </label>
  <input name="birthdate" type="date" value="" required> <br> <br>

  <label>Age: </label>
  <input name="ageYear" type="number" min="0" max="18" value="1" required>years
  <input name="ageMonth" type="number" min="0" max="12" value="1" required>months<br> <br>


  <label> Allergies: </label>
  <input name="allergies" type="text" required><br> <br>

  <label> Diagnoses: </label>
  <input name="diagnoses" type="text" required><br> <br>

  <label>Developmental History: </label>
  <textarea name="history" type="text" rows="4" cols="50" required> </textarea><br> <br>


  <label>Feeding and Swallowing Concerns: </label>
  <textarea name="concerns" type="text" rows="4" cols="50" required> </textarea><br> <br>

  <button type="submit">Add Patient</button>

</form>

</body>
</html>
<a href="/patients/<%= p._id %>/show">Show indv patient</a>
     <a href="/users">Back to Patients Index</a>