<!----Show patient's med info, progress notes-->
<h1> Feeding Profile</h1>

<table id="list">
    <thead>
        <tr>
          <th>Name</th>
          <th>Age: year</th>
          <th>Months </th>
          <th>Birthday</th>
          <th>Allergies</th>
          <th>Diagnoses</th>
          <th>Medical History</th>
          <th>Feeding Concerns</th>

        </tr>
      </thead>
      <tbody>
         
        
          <tr>
            <td><%= patient.name %></td>
            <td><%= patient.ageYear %>:<%= patient.ageMonth %></td>
            <td><%= patient.birthdate%></td>
            <td><%= patient.allergies %></td>
            <td><%= patient.diagnoses %></td>
            <td><%= patient.history %></td>
            <td><%= patient.concerns %></td>
          </tr>
       
        </tbody>
      </table>
        </tbody>
      </table>
      <a href="/patients/<%= p._id %>/edit">Show indv patient</a>
     <a href="/users">Back to Patients Index</a>