<!----Show patient's med info, progress notes-->
<h1> Feeding Profile</h1>

<table id="list">
    <thead>
        <tr>
          <th>Name</th>
          <th>Age: year</th>
          <th>Months </th>
          <th>Birthday</th>
          <th>Allergies</th>
          <th>Diagnoses</th>
          <th>Medical History</th>
          <th>Feeding Concerns</th>

        </tr>
      </thead>
      <tbody>
         
          <tr>
            <td><%= req.user.name %></td>
            <td><%= req.user.ageYear %></td>
            <td><%= req.user.ageYear %>:<%= p.ageMonth %></td>
            <td><%= req.user.birthdate.toLocaleString()%></td>
            <td><%= req.user.allergies %></td>
            <td><%= req.user.diagnoses %></td>
            <td><%= req.user.history %></td>
            <td><%= req.user.concerns %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

     <a href="/users">Back to Patients Index</a>