<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Progress Note Completed </title>
</head>
<body>
    <h2>Feeding Data</h2>
<table>
    <thead>
      <tr>
        <th>Length of Session:</th>
        <th>Foods: </th>
        <th>Liquids: </th>
        <th>Aspiration: </th>
        <th>Volume: </th>
        <th>Exploration: </th>
        <th>Summary: </th>
      </tr>
    </thead>
    <% note._id(function(feeding) { %>
      <tr>
        <td><%= feeding.lengthOfSession %> </td>
        <td><%= feeding.foods %> </td>
        <td><%= feeding.liquids %> </td>
        <td><%= feeding.aspiration %> </td>
        <td><%= feeding.volume %> </td>
        <td><%= feeding.exploration %> </td>
        <td><%= feeding.summary %> </td>
      </tr>
      <% }); %>
      </table>
