<!----Show patient's med info, progress notes-->
<h1> Feeding Profile</h1>

<table id="list">
    <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Diagnoses</th>
        </tr>
      </thead>
      <tbody>
          <% user.patientInfo.forEach(function(p) {%>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.ageYear %></td>
            <td><%= p.ageMonth %></td>
            <td><%= p.birthdate.toLocaleString() %></td>
            <td><%= p.allergies %></td>
            <td><%= p.diagnoses %></td>
            <td><%= p.history %></td>
            <td><%= p.concerns %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

     <a href="/users">User Index</a>