<h2>Setup Details</h2>
<table>
    <thead>
      <tr>
        <th>Seating:</th>
        <th>Food Prep: </th>
        <th>Transition: </th>
        <th>Tools & Utentils: </th>
        <th>Comments: </th>
      </tr>
    </thead>
    <% note._id(function(setup) { %>
      <tr>
        <td><%= setup.seating %> </td>
        <td><%= setup.foodPrep %> </td>
        <td><%= setup.transition %> </td>
        <td><%= setup.tools %> </td>
        <td><%= setup.comments %> </td>
      </tr>
      <% }); %>
      </table>
